name: pr-e2e-tests
on:
  issue_comment:
    types: [created]

env:
  E2E_LABEL: ok-to-merge

jobs:
  triage:
    runs-on: ubuntu-latest
    name: Comment evaluate
    outputs:
      run-e2e: ${{ startsWith(github.event.comment.body,'/run-e2e')}}
      pr_num: ${{ steps.parser.outputs.pr_num }}
      image_tag: "pr-${{ steps.parser.outputs.pr_num }}-${{ github.event.comment.id }}"
    steps:
      - name: Get Pull Request number
        id: parser
        run: |
          PR_URL="${{ github.event.issue.pull_request.url }}"
          PR_NUM=${PR_URL##*/}
          echo "Checking out from PR #$PR_NUM based on URL: $PR_URL"
          echo "::set-output name=pr_num::$PR_NUM"

  build-test-images:
    needs: triage
    runs-on: ubuntu-latest
    name: Build images
    #container: ghcr.io/kedacore/build-tools:main
    if: needs.triage.outputs.run-e2e == 'true'
    steps:
      - uses: actions/checkout@v3

      - name: Checkout Pull Request
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        id: checkout
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          gh pr checkout ${{ needs.triage.outputs.pr_num }}          
          SHA=$(git log -n 1 --pretty=format:"%H")
          echo "Commit SHA: $SHA"
          echo "::set-output name=SHA::$SHA"

      - uses: LouisBrunner/checks-action@v1.1.1
        if: always()
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          sha: ${{ steps.checkout.outputs.SHA }}
          name: e2e tests
          conclusion: success

